* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-image: url("../img/hamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body fieldset:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  border: none;
}
body > fieldset:nth-child(2) {
  border: none;
}

body > fieldset:nth-child(2) > fieldset:nth-child(1) > fieldset {
  width: 425px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border: none;
}

body > fieldset:nth-child(2) > fieldset:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  border: none;
}

body > fieldset:nth-child(2) > fieldset:nth-child(2) > fieldset {
  width: 425px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  border: none;
}

body > fieldset:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  border: none;
}
body > fieldset:nth-child(3) > h2 {
  margin: 1rem;
}
body > fieldset:nth-child(3) > p > input {
  width: 300px;
  height: 30px;
  margin: 8px;
}

body > fieldset:nth-child(3) > p:nth-child(9) > input {
  height: 90px;
}

body > fieldset:nth-child(3) > label:nth-child(2) {
  font-weight: bold;
}
body > fieldset:nth-child(3) > label:nth-child(4) {
  font-weight: bold;
}
body > fieldset:nth-child(3) > label:nth-child(6) {
  font-weight: bold;
}
body > fieldset:nth-child(3) > label:nth-child(8) {
  font-weight: bold;
}
body > fieldset:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

body > fieldset:nth-child(4) > h2 {
  margin: 1rem;
}

body > fieldset:nth-child(4) > p > select {
  font-weight: bold;
}
body > aside {
  display: flex;
  justify-content: center;
  padding: 10px;
}
body > aside > input {
  background-color: black;
  color: white;
  height: 35px;
  width: 100px;
}
